/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.userDetails{
  display: flex;
  justify-content: center;
  font-size: larger;
  
}

.detail, td{
  padding: 20px;
  font-size: 29px;
  box-shadow: 2px 10px antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 67px;
  height: 46px;
  background-color: rgb(227, 221, 221);
}


td{
  border: 0px ;
  box-shadow: inherit;
}

.profile{
  display: flex;
  justify-content: center;
}

.photo{
  border: 1px solid black;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin-bottom: 40px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/21/21104.png');
  background-size: 171px;
  background-repeat: no-repeat;
}