.basicMenu {
    float: right;
    margin-top: -30px;
    right: 0;
    position: absolute;
}

.chipList{
    margin-top: -35px;
    position: absolute;
    float: right;
    margin-left: 60%;
}

.searchBox  {
    display: block;
    margin-top: 53px;
    background-color: #fff;
}

.MenueDropdwn {
color: black;
background-color: gray;
}
